# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.virtualenv/
.Python

# Flask instance folder
instance/
.webassets-cache

# Flask db migrations (if using Flask-Migrate)
migrations/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.env.*
.venv

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code and JetBrains
.vscode/
.idea/

# Mac / Linux
.DS_Store
*.swp
